.tangerine {

	.tangerine-content {
		display: none;
	}

	.tangerine-content.visible {
		display: block;
	}

	.tangerine-content.visible ~ .tangerine-content.visible {
		display: none;
	}

	.tangerine-tab_holder {
		display: flex;
		.tangerine-tab {
			display: inline-block;
			border: 1px solid grey;
			border-bottom: 0;
			padding: 0.5em;
			margin-left: 1em;
			cursor: pointer;

			&:hover {
				background-color: grey;
			}
		}
		box-shadow: inset 0px -10px 10px -13px rgba(0,0,0,0.75);
		border-bottom: 1px solid grey;
	}
}