.layout-a {

	> .container {
		width: 100%;
	}

	background: #FFF0F5;
	height: 100vh;

	.header {
		background: url("/images/pattern.svg");
		background-size: cover;
		padding: 1em;
	}

	@media screen and (orientation: landscape) {
		.header {
			width: 100vh;
			height: 100vh;
			float: right;
		}

		.slot-head-content {
			margin-left: calc(100vh - 100vw + 3em);
		}
	}


	@media screen and (orientation: portrait) {
		.header {
			width: 100vw;
			height: 100vw;
		}
	}
}