.melon {
	display: flex;
	flex-direction: column;

	& > div {
		flex-grow: 1;
		display: block;
		border: 1px dashed grey;
		padding: 1em;
		margin: 1em;
	}

	@media (min-width: $screen-sm-min) {
		flex-direction: row;
	}
}